[common]
; ファイルを出力するパス (human-pose-trackingディレクトリ基準)
OutputPath = out
; 台形変換前の4点 (左上 右上 左下 右下)
SourcePoints = [[411, 387], [1281, 390], [70, 794], [1501, 803]]
; 台形変換後の解像度
DestinationSize = (1000, 563)


[track]
; 動画のパス (human-pose-trackingディレクトリ基準)
InputPath = movie.mp4
; 使用する機械学習モデルのファイル名　https://docs.ultralytics.com/tasks/pose/#models
ModelName = yolov8x-pose-p6.pt
; 動画・JSONの出力をするか
OutputEnabled = False
; プレビューを表示するか(GUI環境のみ)
ShowPreview = True

[convert]
; 変換する出力のパス (OutputPath基準)
InputPath = 20230807_121818
; 距離・角度を何フレームごとに出すか
CalcInterval = 15
; どの点を位置座標とするか (src/keypoint.py参照)
PersonPositionPoint = RIGHT_ANKLE
; 位置座標の点、腰の点のしきい値
ConfidenceThreshold = 0.0